<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiritori">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_shiritori"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_shiritori_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shiritori">
        <activity
            android:name=".ExplainActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>